
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page color and font */

body {
    font-family: Roboto, sans-serif;
    background-color: lightgrey;
}

/* logo dimention */

#logo {
    width: 250px;
}

/* header */

.header {
    padding: 10px 20px;
    background-color: white;
}

/* positionig of section */

main {
   margin-top: 35px; 
}

ul {
    list-style: none;
}


.container {
    width: 70%;
    margin: 2px auto;
    background-color: white;
}


/* table dimension */


li {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
}

.space-list {
    margin-bottom: 25px;
}

/* centerig list */

.button-section {
    height: auto;
    padding: 5px 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list-section {
    padding: 30px 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* button */

.button-form {
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    border: 2px solid lightgrey;
    border-radius: 10px;
}

/* hover è quando ci passo sopra con il mouse */

.button-form:hover {
    background-color: darkblue;
    color: white;
}

/* active è quando ci clicco sopra */

.button-form:active {
    padding: 10px 15px;
}

.button-selection {
    background-color: rgb(20, 170, 255);
}


/* list item */

.circle {
    display: inline-block;    
    font-size: 10px;
    padding: 2px; 
    width: 16px;
    height: 16px;   
    border-radius: 50%;
    text-align: center;
    line-height: 9px;
    margin-right: 8px; 
    margin-left: 2px;     
}

.check {
    color: rgb(96, 212, 192);
    border: 1px solid rgb(96, 212, 192);
}

.cross {
    color: red;
    border: 1px solid red;   
}

/* task  */

.task-form {
    display: inline-block;
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-radius: 30px;
}

.editorial {
    background-color: rgb(9, 169, 237);
}

.q1-goals {
    background-color: rgb(171, 93, 230);
}

.recruiting {
    background-color: rgb(44, 198, 171);
}

.mobile {
    background-color: rgb(255, 155, 0);
}

.website {
    background-color: rgb(236, 74, 157);
}

.sales {
    background-color: rgb(163, 209, 22);
}